 
 html { height: 100% }
 
 body {
       height: 100%;
       padding-top: 50px;
       padding-bottom: 20px;
      background-color:#CCC
       }
       .ttiempo{
         color:white;
       }
  
	#krcel{
	   padding-left: 8.5%
	       }

               
               
@media all and (max-width: 911px) {
            #map-outer  { 
                        height: 40% }
            #krcel{
                         padding-left: 8.5%
                         }
            #img2 { display : block; }
            #img3 { display : block; }
                        }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
            #krcel{
                     padding-left: 8.5%
	       }
            #img2 { display : block }
            #img3 { display : none }
}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
            #krcel{
                    padding-left: 6%
	       }
             #img3 { display : none }
              

 }
 

/* Landscape phones and down */
@media (max-width: 480px) { 
           #krcel{
                padding-left: 0%
	       }              
            #img2 { display : none }
            #img3 { display : none } 

 }